@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');/*FONTE PARA TITULO*/
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Roboto+Slab:wght@100..900&display=swap');/*FONTE PARA PARAGRAFO*/


*{


margin: 0%;
padding: 0%;
box-sizing: border-box;


}


header{/*"banner" do site*/

    background-color:#3a4b56;   
    width: 1500px;
    height: 200px   ;
    text-align: center;
    border-bottom-color:#000000;

    

}/*tamanho do banner da pagina de introdução*/

nav{

    margin-top: 0px;
    margin-right:130px;


}
img{ /*Titulo*/

    width:700px;
    margin-top: 40px;
    margin-right: 160px;
    
    
    }

 #Figure{/*fIGURA DA AIA*/


    width: 270px;
    height: 400px;
    margin-top: 37px;
    margin-left: 1050px;
    
 }


 a{/*ancora das paginas*/

 
    font-size: 20px;
    color: #e3e3e3;/*cor da ancora*/
    
    
 }


 a:hover{

    color: #1c1e21;/*cor da ancora*/
    background-color: #e3e3e3;
    border-radius: 15px;
    width: 90px;


}
 
p{

font-size: 25px;/*tamanho da fonte do paragrafo 1*/
margin-left: 100px;/*tamanha da margem do paragrafo 1 */
padding-top: 40px;/*tamanha da escpaço interno do paragrafo 1*/


}

h2{

    font-size: 28px;/*tamanho da fonte do "Subtitulo"*/
    margin-left: 150px;/*tamanha da margem "subtitulo"*/
    padding-top: 40px;
    
}


#texto-sobre{/*Texto de introdução*/

    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

}

#frases-impacto{

    margin-left: 50px;/*tamanha da margem do paragrafo 1 */
    padding-top: 20px;

}

#INTRODUÇÃO{/*Link ancora*/


margin-left:20px;
margin-right: 30px;


}



#PERSONAGENS{/*Link ancora*/


    margin-left: 200px;
    margin-right: 40px;




}

#TEMPORADAS{/*Link ancora*/



    margin-left: 200px;
    margin-right: 40px;


}


/*---------------------------------------------------------------------------------------PAGINA DE PERSONAGENS-------------------------------------------------------------------------------------*/



















